In [1]:
import pandas as pd
import csv

In [2]:
df = pd.read_csv('tranco_Y5G4G.csv')

In [3]:
df.info

<bound method DataFrame.info of               1             google.com
0             2           facebook.com
1             3           a-msedge.net
2             4            youtube.com
3             5          microsoft.com
4             6          amazonaws.com
...         ...                    ...
999994   999996           santosha.com
999995   999997        themagicbag.com
999996   999998       gevorahotels.com
999997   999999  betterwphosting.co.uk
999998  1000000           4carisma.com

[999999 rows x 2 columns]>

In [4]:
df.head

<bound method NDFrame.head of               1             google.com
0             2           facebook.com
1             3           a-msedge.net
2             4            youtube.com
3             5          microsoft.com
4             6          amazonaws.com
...         ...                    ...
999994   999996           santosha.com
999995   999997        themagicbag.com
999996   999998       gevorahotels.com
999997   999999  betterwphosting.co.uk
999998  1000000           4carisma.com

[999999 rows x 2 columns]>

In [6]:
df2 = df.head(100)

In [7]:
df2.info

<bound method DataFrame.info of       1     google.com
0     2   facebook.com
1     3   a-msedge.net
2     4    youtube.com
3     5  microsoft.com
4     6  amazonaws.com
..  ...            ...
95   97       ebay.com
96   98  google.com.hk
97   99    nytimes.com
98  100     fandom.com
99  101    dropbox.com

[100 rows x 2 columns]>

In [8]:
df3 = pd.read_csv('majestic_million.csv')
df4 = df3.head(100)
df4.info

<bound method DataFrame.info of     GlobalRank  TldRank                Domain  TLD  RefSubNets   RefIPs  \
0            1        1            google.com  com      493225  2423262
1            2        2          facebook.com  com      491991  2576708
2            3        3           youtube.com  com      443833  2089772
3            4        4           twitter.com  com      437495  2073037
4            5        5         instagram.com  com      375641  1733941
..         ...      ...                   ...  ...         ...      ...
95          96       66  youtube-nocookie.com  com       84737   208923
96          97       67             nginx.com  com       84535   165377
97          98       68              imdb.com  com       84275   218180
98          99       69         bloomberg.com  com       84239   196751
99         100        1           harvard.edu  edu       84049   193996

              IDN_Domain IDN_TLD  PrevGlobalRank  PrevTldRank  PrevRefSubNets  \
0             google.com     com               1            1          492684
1           facebook.com     com               2            2          491669
2            youtube.com     com               3            3          443324
3            twitter.com     com               4            4          437045
4          instagram.com     com               5            5          375337
..                   ...     ...             ...          ...             ...
95  youtube-nocookie.com     com              97           67           84689
96             nginx.com     com              98           68           84405
97              imdb.com     com              99           69           84297
98         bloomberg.com     com             100           70           84164
99           harvard.edu     edu             101            1           84006

    PrevRefIPs
0      2421905
1      2574466
2      2088013
3      2071411
4      1733107
..         ...
95      208896
96      165050
97      218127
98      196873
99      194097

[100 rows x 12 columns]>

In [10]:
df5 = pd.read_csv('PhishTank-online-banking-phishing-urls-final.csv')
df6 = df.sample(100)
df6.info

<bound method DataFrame.info of              1             google.com
729048  729050          treeumapp.net
798747  798749             knaki.club
164339  164341  thehousedesigners.com
987183  987185             fanteko.ru
181501  181503          snowcrows.com
...        ...                    ...
9821      9823                  dn.se
585393  585395          exposecms.com
980019  980021          yeaosound.com
108643  108645  hotelnewsresource.com
32799    32801          tenorshare.cn

[100 rows x 2 columns]>

In [11]:
df7 = pd.read_csv('c2-allmasterlist-high.txt')
df8 = df.head(100)
df8.info

<bound method DataFrame.info of       1     google.com
0     2   facebook.com
1     3   a-msedge.net
2     4    youtube.com
3     5  microsoft.com
4     6  amazonaws.com
..  ...            ...
95   97       ebay.com
96   98  google.com.hk
97   99    nytimes.com
98  100     fandom.com
99  101    dropbox.com

[100 rows x 2 columns]>